[submodule "src/static/libs/layout"]
	path = src/static/libs/layout
	url = https://github.com/hivesolutions/layout.git
[submodule "src/static/libs/uxf"]
	path = src/static/libs/uxf
	url = https://github.com/hivesolutions/uxf_bin.git
